# Настройки Symfony
APP_SECRET=change-me-for-local-dev

# Настройки PostgreSQL
DB_HOST=db
DB_NAME=cardb
DB_USER=postgres
DB_PASSWORD=super_secret_pg

# Настройки pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
