# Секреты
/.env

# Папки IDE (если пользуешься VS Code или PHPStorm)
.idea/
.vscode/

# Системные файлы Windows
Thumbs.db
Desktop.ini

# Зависимости Composer
src/vendor/

# Symfony
src/var/
src/.env.local
src/.env.*.local
